<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>test utils</title>
</head>
<body>
      <h1>Welcome to the text Analyzer , Enter your text below</h1>
       <form action="/analyze" method="get">
           <textarea name="text" style="width: 717px; height: 79px;">
           </textarea><br>
           <input type="checkbox" name="removepunc">remove punctuations <br>
           <input type="checkbox" name="charcount">Total Alpha<br>
           <input type="checkbox" name="fullcaps">UPPERCASE<br>
           <input type="checkbox" name="newlineremove">new line remover<br>
           <input type="checkbox" name="spaceremove">space remover<br>
           <button type="submit">Submit</button><br>

       </form>
</body>
</html>